/*----Colors-----*/
$whiteColor:white;
$blackColor:black;
$baseColor: #0000EC;
$buttonColor: #00F3BB;
$buttonColorHoverFirst: #00F0B8;
$buttonColorHoverSecond: #0000FE;
$activeColor: rgba(6,10,36,0.56);
$linkColor: #060A24;
$spotifyBackColorFirst:#0000FF;
$spotifyBackColorSecond:#0000A3;
/*----Font Family-----*/
$letterPlexSans: 'IBM Plex Sans', sans-serif;
$letterPlexMono: 'IBM Plex Mono', monospace;